{{!< default}}

<main id="gh-main" class="gh-main gh-outer">
    <div class="gh-inner gh-random-redirect">
        <p class="gh-random-redirect-message">Redirecting to a random post...</p>
        <noscript class="gh-random-redirect-noscript">
            JavaScript is required to redirect to a random post. <a href="{{@site.url}}">Return to the homepage</a>.
        </noscript>
    </div>
</main>
