{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

<section class="gh-container is-{{#match @custom.post_feed_style "List"}}list{{else}}grid{{/match}}{{#unless @custom.show_images_in_feed}} no-image{{/unless}} gh-outer">
    <div class="gh-container-inner gh-inner">
        <main class="gh-main">

            {{#tag}}
                <section class="gh-archive{{#if feature_image}} has-image{{/if}} gh-inner">
                    <div class="gh-archive-inner">
                        <header class="gh-archive-wrapper">
                            <h1 class="gh-article-title is-title">{{name}}</h1>
                            {{#if description}}
                                <p class="gh-article-excerpt">{{description}}</p>
                            {{/if}}
                        </header>
                        {{> "feature-image"}}
                    </div>
                </section>
            {{/tag}}

            {{> "components/post-list" feed="archive" postFeedStyle=@custom.post_feed_style showTitle=false showSidebar=false skipContainer=true}}

        </main>
    </div>
</section>